<%= link_to 'Make Attachment', '#', class: 'attachment' %></br>
<div id="attachment_links">
  <div><%= link_to 'Comment', '#', class: 'attach_comment' %></div>
  <div><%= link_to 'Article', '#', class: 'attach_article' %></div>
  <div><%= link_to 'File', '#', class: 'attach_file' %></div>
</div>
